/* Général */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
}

.yogaBtn {
    background-color: #d3a700;
    border-radius: 20px;
    padding: 10px 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.topSection {
    margin-top: 60px;
}

/* Header */

.hero-header {
    background: url('../Ressources/Angelica-yoga-hero.jpeg');
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#logoIcon {
    height: 3rem;
    width: 3rem;
    fill: #d3a700;
}

.thinText {
    font-weight: 300;
}

.txtHeader {
    padding-top: 30vh;
}

/* Navigation retour en haut */

.topBtn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #d3a700;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
}

.topArrow {
    width: 1.5rem;
    height: 1.8rem;
    fill: #fff;
}

/* Présentation */

.bgBienfaits {
    background-color: rgba(211, 167, 0, 0.16);
}

.checkIcon {
    height: 1rem;
    width: 1rem;
}

/* Image section */

.claireAngelicaYoga {
    width: 100%;
    height: 40vh;
    background: url('../Ressources/Angelica_yoga_Claire.png');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgMeditationDesert {
    width: 100%;
    height: 40vh;
    background: url('../Ressources/meditation_desert_yoga.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ligne footer */

main hr {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/*  Footer */

#fbIcon,
#vimIcon {
    height: 2rem;
    width: 2rem;
    fill: #d3a700;
    margin-right: 10px;
}
